@import url("https://fonts.googleapis.com/css2?family=Edu+TAS+Beginner&display=swap");
.logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px 0 10px 25px;
}
.logo p {
  font-family: "Edu TAS Beginner", cursive;
  font-size: 1.4rem;
  text-shadow: 0px 0px 5px;
}
@media (max-width: 800px) {
  .logo p {
    font-size: 1rem;
  }
}
.logo .function {
  color: rgb(0, 170, 0);
}
.logo .name {
  color: rgb(0, 100, 200);
}
.logo .name span {
  color: rgb(100, 100, 100);
}

.back {
  display: flex;
  justify-content: center;
  width: 100%;
  padding-bottom: 20px;
}
.back .navbar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  border-radius: 20px;
  background-color: rgb(200, 200, 200);
  position: fixed;
  width: 98%;
  z-index: 10;
  margin-top: 10px;
}
.back .navbar button {
  border: 0px solid transparent;
  background-color: transparent;
  cursor: pointer;
}
.back .navbar svg {
  height: 30px;
  width: 30px;
}
@media (max-width: 350px) {
  .back .navbar svg {
    width: 15px;
    height: 15px;
  }
}
.back .navbar ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  list-style: none;
  padding-left: 50px;
}
@media (max-width: 600px) {
  .back .navbar ul {
    padding-left: 0;
  }
}
.back .navbar ul li {
  padding: 10px 25px 10px 25px;
}
@media (max-width: 800px) {
  .back .navbar ul li {
    padding: 10px 15px 10px 15px;
  }
}
.back .navbar ul li svg {
  height: 30px;
  width: 30px;
}
@media (max-width: 800px) {
  .back .navbar ul li svg {
    height: 20px;
    width: 20px;
  }
}
.back .navbar ul li a {
  text-decoration: none;
  color: black;
}
.back .navbar ul li .ativo {
  color: rgb(0, 100, 200);
}
.back .navbar ul li .ativo svg {
  animation: rotate 1s 1;
}
.back .navbar ul li .inativo:hover {
  color: rgb(100, 100, 100);
}
.back .navbar ul .lista_inativo:hover {
  transform: translateY(-3px);
}
.back .navbar .containerMenu {
  position: relative;
  display: inline-block;
}
.back .navbar .containerMenu .menuButton {
  margin-left: 20px;
  margin-right: 20px;
}
@media (max-width: 600px) {
  .back .navbar .containerMenu .menuButton svg {
    height: 20px;
    width: 20px;
  }
}
.back .navbar .containerMenu .menuButton .menuClose {
  transition: transform 0.5s ease, color 0.5s ease;
}
.back .navbar .containerMenu .menuButton .menuOpen {
  transform: rotate(90deg);
  color: rgb(0, 100, 200);
  transition: transform 0.5s ease, color 0.5s ease;
}
.back .navbar .containerMenu .menu {
  background-color: rgb(200, 200, 200);
  border-radius: 15px;
  border: 2px solid black;
  animation: fade-in 0.5s ease-in-out;
  z-index: 10;
  position: absolute;
  left: 0;
  top: 30px;
}
.back .navbar .containerMenu .menu ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media (max-width: 600px) {
  .back .navbar .containerMenu .menu ul li a {
    font-size: 0.7rem;
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
.containerSettings {
  position: relative;
  display: inline-block;
}
.containerSettings .settings {
  padding: 10px 25px;
}
@media (max-width: 600px) {
  .containerSettings .settings svg {
    height: 20px;
    width: 20px;
  }
}
.containerSettings .settings .settingsClose {
  transition: transform 1s ease, color 1s ease;
}
.containerSettings .settings .settingsOpen {
  transform: rotate(180deg);
  color: rgb(0, 100, 200);
  transition: transform 1s ease, color 1s ease;
}
.containerSettings .settingsMenu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  background-color: rgb(200, 200, 200);
  border-radius: 15px;
  padding: 20px 20px 0 20px;
  border: 2px solid black;
  animation: fade-in 0.5s ease-in-out;
  z-index: 10;
  right: 10px;
}
@media (max-width: 600px) {
  .containerSettings .settingsMenu {
    right: 15px;
  }
}
.containerSettings .settingsMenu .titulo {
  font-size: 1.2rem;
  font-weight: 600;
}
@media (max-width: 600px) {
  .containerSettings .settingsMenu .titulo {
    font-size: 1rem;
  }
}
.containerSettings .settingsMenu ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
  padding-top: 20px;
}
.containerSettings .settingsMenu ul li {
  padding-bottom: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
@media (max-width: 350px) {
  .containerSettings .settingsMenu ul li {
    padding-left: 10px;
    padding-right: 0;
  }
}
@media (max-width: 600px) {
  .containerSettings .settingsMenu ul li p {
    font-size: 0.7rem;
  }
}
.containerSettings .settingsMenu ul li label {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}
.containerSettings .settingsMenu ul li label input {
  display: none;
}
.containerSettings .settingsMenu ul li label .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 34px;
}
.containerSettings .settingsMenu ul li label .slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 50%;
}
.containerSettings .settingsMenu ul li label input:checked + .slider {
  background-color: #2196F3;
}
.containerSettings .settingsMenu ul li label input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
.containerSettings .settingsMenu ul li .lang {
  width: 100px;
  height: 40px;
}
.containerSettings .settingsMenu ul li .lang .slider:before {
  width: 46px;
  height: 32px;
  border-radius: 34px;
  background-image: url("/images/brasil.png");
  background-size: 47px 47px;
  background-position-y: -5px;
}
.containerSettings .settingsMenu ul li .lang input:checked + .slider {
  background-color: #ccc;
}
.containerSettings .settingsMenu ul li .lang input:checked + .slider:before {
  -webkit-transform: translateX(46px);
  -ms-transform: translateX(46px);
  transform: translateX(46px);
  background-image: url("/images/eua.png");
  background-size: 47px 47px;
  background-position-y: -5px;
}

@keyframes fade-in {
  from {
    transform: translateY(-100px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

/*# sourceMappingURL=Navbar.module.css.map */
